@mixin boxSizing {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transitioning($t) {
  -moz-transition: all $t ease-in-out;
  -webkit-transition: all $t ease-in-out;
  -o-transition: all $t ease-in-out;
  transition: all $t ease-in-out;
}

@mixin borderRadius($br) {
  -moz-border-radius: $br;
  -webkit-border-radius: $br;
  -o-border-radius: $br;
  border-radius: $br;
}

@mixin customBorderRadius($tl, $tr, $br, $bl) {
  -moz-border-radius: $tl $tr $br $bl;
  -o-border-radius: $tl $tr $br $bl;
  -webkit-border-radius: $tl $tr $br $bl;
  border-radius: $tl $tr $br $bl;
}

@mixin menuHoverEffect {
  overflow: hidden;
  margin: 0 10px;
  position: relative;
  font-size: 15px;
  button,
  a {
    text-decoration: none;
    color: $darkGrey;
    @include transitioning(0.2s);
    font-family: $bold_font;
    &.router-link-exact-active {
      color: $secondaryColor;
    }
  }
  &:hover {
    button,
    a {
      color: $secondaryColor;
    }
  }
}

@mixin btnHoverEffect {
  overflow: hidden;
  text-decoration: none;
  padding: 5px 15px;
  border: 2px solid $secondaryColor;
  background-color: transparent;
  color: $secondaryColor;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  @include borderRadius(30px);
  &::before {
    content: "";
    position: absolute;
    left: -100%;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $secondaryColor;
    z-index: -1;
    @include transitioning(0.4s);
  }
  &:hover {
    &::before{
      left: 0;
    }
    color: $white;
  }
}

@mixin btnWithBackground {
  padding: 0.7em 1.5em;
  margin-right: 2rem;
  font-weight: bolder;
  line-height: 1.2;
  color: $white;
  background-color: $mainColor;
  border: 1px solid $mainColor;
  width: auto;
  border-radius: 5px;
  margin: 0;
  @include transitioning(0.4s);
  &:hover{
    background-color: $white;
    color: $mainColor;
  }
}

@mixin mainHeaderStyle {
  @include flexCenterAlignment;
  position: relative;
  margin-bottom: 25px;
  h2 {
    color: $midGrey;
    font-family: $bold_font;
    z-index: 2;
  }

  .title_backdrop {
    position: absolute;
    top: -125%;
    font-size: 3.5rem;
    font-family: $bold_font;
    color: rgba(225, 225, 225, 0.2);
    text-shadow: 0 0 6px rgb(225, 225, 225, 0.9);
    z-index: 1;
  }

  @media ( max-width: 767px ) {
    .title_backdrop {
      font-size: 2.7rem;
    }
  }
}

@mixin flexCenterAlignment {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexStartAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@mixin verticalFlexStartAlignment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexSpaceBetweenAlignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flexSpaceAroundAlignment {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexEndAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin textWraper {
  word-break: break-word;
  word-spacing: 2px;
  font-size: 18px;
  color: $lightGrey;
  line-height: 1.6;
  text-align: start;
}

@mixin simpleShadow {
  box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.3);
}

@mixin midShadow {
  box-shadow: 0 0 10px 2px rgba(225, 225, 225, 0.6);
}

@mixin heighShadow {
  box-shadow: 0 0 10px 2px rgba(180, 180, 180, 0.6);
}