.filterSection {
  margin-bottom: 15px;
  .mainBTN {
    button {
      @include btnWithOutBackground;
    }
  }
}

.bodyFilter {
  .v-expansion-panel::before {
    box-shadow: none;
  }
  button.v-expansion-panel-header {
    border-radius: 0;
    color: $darkGrey !important;
    font-family: $bold_font;
    min-height: auto;
    font-size: 1.08rem;
    padding-inline: 0;
    margin: 0;
    padding-block: 1.5rem;
  }
  .v-icon.v-icon {
    color: $darkGrey !important;
  }
  .v-expansion-panel:not(:first-child)::after {
    @include borderRadius(0);
  }
  .v-expansion-panel {
    border-top: 2px solid $lighterGrey;
    margin: 0 !important;
    border-radius: 0 !important;
  }
  .v-expansion-panel-content__wrap {
    padding: 0;
    .list-categories {
      padding: 0;
      ul {
        padding: 0;
        li {
          border-bottom: 1px solid #eee;
          padding-block: 0.8rem;
          transition: all 0.5s ease-out;
          &:last-child {
            border: 0;
          }
          &:hover {
            background-color: $mainColor;
            padding-inline: 5px;
            a {
              color: #fff;
            }
          }
          a {
            color: $darkGrey;
            display: block;
            font-size: 0.8rem;
            font-family: $medium_font;
            span {
              margin-inline: 5px;
            }
          }
        }
      }
    }
  }

  .sizesFilter {
    transition: all 0.3 ease-out;
    .v-label {
      font-size: 0.8rem;
      color: $darkGrey;
      font-family: $medium_font;
      transition: all 0.3 ease-out;
      &:hover {
        color: $mainColor;
      }
    }
    .v-icon.v-icon {
      color: $mainColor !important;
    }
    .v-input {
      margin: 0;
      padding: 8px 0;
      border-bottom: 1px solid $lighterGrey;
    }
    .v-input__slot {
      margin: 0;
    }
    .v-input--selection-controls__ripple {
      // margin: 0;
    }
    .v-messages {
      display: none;
    }
  }
  .priceFilter {
    .filterBtn {
      button {
        @include btnWithBackground;
        margin-bottom: 15px;
      }
    }
    .v-slider__thumb {
      width: 12px;
      height: 18px;
      @include borderRadius(3px);
      &.primary {
        background-color: $darkGrey !important;
        border-color: $darkGrey !important;
      }
    }
    .v-slider__track-fill {
      &.primary {
        background-color: $lightGrey !important;
        border-color: $lightGrey !important;
      }
    }
    .v-application {
      .primary {
        &.lighten-3 {
          background-color: $secondaryColor !important;
          border-color: $secondaryColor !important;
        }
      }
    }
    h6 {
      font-size: 0.9rem;
      margin-block: 15px;
    }
  }
}

// START:: HEADER FILTER
.header-filter {
  @include flexSpaceBetweenAlignment;
  align-items: center;
  .left-part {
    button {
      @include btnWithOutBackground;
    }
  }
  .right-part {
    @include flexSpaceBetweenAlignment;
    align-items: center;
    select {
      padding: 0.6em 2.25rem 0.6em 0.75rem;
      outline: none !important;
      box-shadow: none !important;
      border: 1px solid $lightGrey;
      // @include borderRadius(0);
    }
    label {
      @include flexSpaceBetweenAlignment;
      font-family: $bold_font;
      font-size: 12px;
      span {
        margin: 0 5px;
        font-family: $bold_font;
      }
    }
  }
}
// END:: HEADER FILTER

// START:: PAGINATION
.pagination {
  @include flexSpaceBetweenAlignment;
  border-top: 2px solid $lighterGrey;
  padding-block: 30px;
  margin-top: 30px;
  align-items: center;
  .left-part {
    @include flexSpaceBetweenAlignment;
    h6{
      margin: 0;
      font-family: $medium_font;
      font-size: 0.9rem;
      &:nth-child(2){
        margin: 0 5px;
      }
    }
  }
  .right-part {
    ul {
      @include flexSpaceBetweenAlignment;
      li{
        margin: 0 5px;
        min-width: 30px;
        text-align: center;
        a{
          color: $darkGrey;
        }
      }
    }
  }
}
// END:: PAGINATION

// START:: TEST
.content-prodcuts {
  transition: all 0.5s ease-out;
}
.col-filter {
  transition: all 0.5s ease-out;
  position: relative;
}
.hideFilter {
  width: 0;
  opacity: 0;
  padding: 0;
  transform: translateX(-500px);
}
.showFilter {
  margin-left: 0%;
}
.row-overflow {
  overflow: hidden;
}
