footer {
  padding-block: 35px;
  background-color: $darkGrey;
  color: $white;
  position: relative;

  .upper_footer {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    .logo_wraper {
      width: 190px;
      height: 80px;
      img[alt="Site Logo"] {
        width: 190px;
        height: 80px;
        filter: brightness(0) invert(1);
      }
    }

    .subscribe_text_wraper {
      text-align: start;
      h5 {
        font-family: $bold_font;
      }
      p {
        margin: 0;
        font-size: 0.9rem;
        color: $lighterGrey;
        opacity: 0.6;
      }

      @media (max-width: 767px) {
        p {
          font-size: 0.75rem;
        }
      }
    }

    .subscribe_form_wraper {
      .group {
        @include flexCenterAlignment;
        input[type="email"] {
          margin-inline-end: 8px;
          padding: 12px;
          color: $lighterGrey;
          background-color: #2c2c2c;
          border: none;
          &:focus {
            box-shadow: none;
          }
        }

        button {
          background-color: $mainColor;
          padding: 14px;
          font-size: 0.8rem;
          font-family: $medium_font;
          @include borderRadius(5px);
        }
      }
    }
  }

  .middle_footer {
    padding-block: 40px;
    border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    h6 {
      font-family: $medium_font;
      margin-bottom: 15px;
    }

    ul {
      display: inline-block;
      padding: 0;
      margin-inline-end: 20px;
      li {
        margin-top: 8px;
        span {
          font-size: 0.8rem;
          color: $lighterGrey;
          &:last-child {
            opacity: 0.6;
            @include transitioning(0.3s);
            &:hover {
              opacity: 1;
              color: $white;
            }
          }
        }

        a {
          font-size: 0.8rem;
          color: $lighterGrey;
          opacity: 0.6;
          @include transitioning(0.3s);
          &:hover {
            opacity: 1;
            color: $white;
          }
        }
      }
    }
  }

  .lower_footer {
    padding-top: 40px;

    .copy_rights {
      text-align: start;
      font-size: 0.8rem;
      color: $lighterGrey;
      opacity: 0.6;
    }

    .social_links {
      padding: 0;
      margin: 0;
      @include flexEndAlignment;
      li {
        margin-inline-start: 15px;
        a {
          @include flexCenterAlignment;
          text-decoration: 0;
          color: $lighterGrey;
          opacity: 0.6;
          width: 35px;
          height: 35px;
          border: 2px solid $lighterGrey;
          @include borderRadius(50%);
          @include transitioning(0.4s);

          &:hover {
            opacity: 1;
            &.facebook {
              background-color: $facebookColor;
              border-color: $facebookColor;
            }
            &.twitter {
              background-color: $twitterColor;
              border-color: $twitterColor;
            }
            &.linkedin {
              background-color: $linkedinColor;
              border-color: $linkedinColor;
            }
            &.youtube {
              background-color: $youtubeColor;
              border-color: $youtubeColor;
            }
          }
        }
      }
    }

    @media (max-width: 767px) {
      .copy_rights {
        text-align: center;
      }

      .social_links {
        @include flexCenterAlignment;
      }
    }
  }

  .floating_footer {
    display: none;
  }

  @media ( max-width: 767px ) {
    .floating_footer {
      display: block;
      background-color: $white;
      z-index: 999;
      .items_list {
        position: relative;
        padding: 5px 0;
        margin: 0;
        @include flexSpaceAroundAlignment;
  
        li {
          .search_bar_wraper {
            position: absolute;
            top: -100%;
            left: 50%;
            transform: translateX(-50%);
            padding: 6px;
            width: 95vw;
            background-color: $white;
            @include midShadow;
            @include borderRadius(8px);

            form {
              .group {
                border: 1px solid $lighterGrey;
                @include borderRadius(8px);
                @include flexCenterAlignment;

                input {
                  border: none;
                  &:focus {
                    box-shadow: none;
                  }
                }

                button {
                  &:focus {
                    box-shadow: none;
                  }
                }
              }
            }
          }

          a,
          button {
            @include flexCenterAlignment;
            flex-direction: column;
            color: $midGrey;
            span {
              font-size: 0.8rem;
              font-family: $semi_bold_font;
            }
            &:focus {
              box-shadow: none;
            }
          }
        }
      }
  
      &.sticky {
        z-index: 999 !important;
        animation: fixedFooterAnimation 0.5s forwards;
        animation-delay: 0.5s;
        position: absolute;
      }
    }
  }
}

// START:: ANIMATIONS KEYFRAMES
@keyframes fixedFooterAnimation {
  0% {
    position: fixed;
    bottom: -100%;
    right: 0;
    left: 0;
  }

  100% {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $white;
    @include midShadow;
    border-bottom: none;
  }
}
// END:: ANIMATIONS KEYFRAMES