header {
  @include transitioning(0.4s);
  border-bottom: 1px solid $lighterGrey;
  position: relative;

  &.sticky {
    z-index: 10;
    animation: fixedAnimation 0.5s forwards;

    .upper_bar,
    .navbar_wraper {
      display: none;
    }
  }

  .upper_bar {
    padding-block: 4px;
    border-bottom: 1px solid $lighterGrey;
    .wraper {
      @include flexSpaceBetweenAlignment;
      .header_message_wraper {
        font-size: 0.9rem;
        font-family: $light_font;
        color: $darkGrey;
      }

      .action_btns_wraper {
        @include flexCenterAlignment;
        ul {
          @include flexCenterAlignment;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            img {
              width: 20px;
            }
            button,
            a {
              @include flexCenterAlignment;
              font-size: 14px;
              font-family: $light_font;
              color: $midGrey;
              text-decoration: none;
              &:focus {
                box-shadow: none;
              }

              svg {
                margin-inline-end: 5px;
                color: $lightGrey;
              }
            }

            &.language_wraper {
              button {
                img {
                  width: 27px;
                }
              }
            }

            &:nth-child(2) {
              padding-inline: 8px;
              margin-inline: 8px;
              border-left: 1px solid $lighterGrey;
              border-right: 1px solid $lighterGrey;
            }
          }
        }

        .language_wraper {
          button {
            img {
              width: 27px;
            }
          }
        }
      }
    }
  }

  .main_bar {
    padding-block: 12px;
    .logo_wraper {
      width: 190px;
      height: 60px;
      img[alt="Site Logo"] {
        width: 190px;
        height: 60px;
      }
    }

    .search_bar {
      .group {
        @include flexCenterAlignment;
        flex-wrap: nowrap;
        border: 2px solid $mainColor;
        @include borderRadius(6px);
        input[type="text"] {
          border: none;
          color: $midGrey;
          &:focus {
            box-shadow: none;
          }
        }
        button {
          &:focus {
            box-shadow: none;
          }
          img {
            width: 25px;
          }
        }
      }
    }

    .action_btns_wraper {
      @include flexCenterAlignment;
      img {
        width: 25px;
      }
      ul {
        @include flexCenterAlignment;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          button,
          a {
            color: $midGrey;
            text-decoration: none;
            font-size: 12px;
            @include transitioning(0.3s);
            &:focus {
              box-shadow: none;
            }
            .text {
              text-align: start;
              span {
                display: block;
                &:last-child {
                  font-family: $bold_font;
                }
              }
            }

            &:hover {
              color: $mainColor;
            }
          }

          button {
            &.cart {
              position: relative;
              .badge {
                padding: 0;
                position: absolute;
                top: 0;
                right: 0;
                background-color: $secondaryColor;
                width: 20px;
                height: 20px;
                font-size: 10px;
                border: 1px solid $mainColor;
                @include borderRadius(50%);
                @include flexCenterAlignment;
              }
            }
          }

          &:nth-child(2) {
            padding-inline: 12px;
            margin-inline: 6px;
            border-left: 1px solid $lighterGrey;
            border-right: 1px solid $lighterGrey;
          }
        }
      }
    }
  }

  .cart_menu_wraper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    transform: scale(0);
    opacity: 0;
    transition-delay: 0.3s;
    &.show {
      transform: scale(1);
      opacity: 1;
      .cart_menu {
        right: 0;
      }
    }

    .cart_menu {
      padding: 25px 20px;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 400px;
      background-color: $white;
      z-index: 10;
      @include transitioning(0.4s);
      @include midShadow;

      .menu_header {
        padding-bottom: 6px;
        @include flexSpaceBetweenAlignment;
        border-bottom: 1px solid $lighterGrey;
        h6,
        button {
          font-family: $medium_font;
        }

        button {
          color: $lightGrey;
          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    @media (max-width: 600px) {
      .cart_menu {
        width: 100%;
      }
    }
  }

  .navbar_wraper {
    padding: 20px 0 25px 0;
    @include flexStartAlignment;

    ul {
      padding: 0;
      margin: 0;
      @include flexStartAlignment;
      li {
        @include menuHoverEffect;
      }
    }
  }
}

// START:: ANIMATIONS KEYFRAMES
@keyframes fixedAnimation {
  0% {
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
  }

  100% {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $white;
    @include midShadow;
    border-bottom: none;
  }
}
// END:: ANIMATIONS KEYFRAMES
