header {
  @include transitioning(0.4s);
  border-bottom: 1px solid $lighterGrey;
  position: relative;

  &.sticky {
    z-index: 20;
    animation: fixedAnimation 0.5s forwards;

    .upper_bar,
    .navbar_wraper {
      display: none;
    }

    .main_bar {
      .navBar_menu_btn_wraper {
        display: block;
        .navBar_menu_btn {
          button {
            &:focus {
              box-shadow: none;
            }
            svg {
              color: $darkGrey;
              @include transitioning(0.4s);
              &:hover {
                color: $secondaryColor;
              }
            }
          }
        }
      }

      .navbar_sticky_menu_wraper {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 9;
        transform: scale(0);
        opacity: 0;
        transition-delay: 0.3s;
        & + .navbar_menu {
          display: block;
          overflow: auto;
          padding: 25px 20px;
          position: fixed;
          top: 0;
          left: -100%;
          height: 100vh;
          width: 350px;
          background-color: $white;
          z-index: 10;
          @include transitioning(0.4s);

          &::-webkit-scrollbar {
            width: 5px;
          }
        
          &::-webkit-scrollbar-track {
            background: $lighterGrey;
          }
        
          &::-webkit-scrollbar-thumb {
            background: $mainColor;
            border-radius: 0px;
            transition: 0.5s;
          }

          .menu_header {
            @include flexEndAlignment;
            margin-bottom: 25px;
            .close_btn {
              svg {
                color: $midGrey;
                @include transitioning(0.3s);
                &:hover {
                  color: $midRed;
                }
              }

              &:focus {
                box-shadow: none;
              }
            }
          }

          .navbar_menu_list {
            padding: 0;
            margin: 0;
            li {
              padding-block: 15px;
              overflow: visible;
              position: relative;

              .dropdown_menu_accordion {
                .accordion-body {
                  @include verticalFlexStartAlignment;
                  a {
                    margin-bottom: 5px;
                    color: $lightGrey;
                    @include transitioning(0.3s);
                    &:hover {
                      color: $secondaryColor;
                    }
                  }
                }

                &.mega_menu {
                  .accordion-body {
                    display: block;
                  }
                }
              }

              .side_navbar_menu_list_link,
              .dropdown_menu_accordion_btn {
                color: $darkGrey;
                font-size: 16px;
                font-family: $medium_font;
                @include transitioning(0.4s);
              }

              .side_navbar_menu_list_link {
                &.router-link-exact-active {
                  color: $secondaryColor;
                }
              }
              &:hover {
                .side_navbar_menu_list_link, 
                .dropdown_menu_accordion_btn {
                  color: $secondaryColor;
                }
              }

              .accordion {
                border: none;
                .accordion-item {
                  border: none;
                  .accordion-header {
                    border: none;
                    .accordion-button {
                      padding-inline: 0;
                      padding-block: 5px;
                      background-color: transparent;
                      &:focus {
                        box-shadow: none;
                        border: none;
                      }

                      &::after {
                        font-size: 12px;
                        filter: brightness(0);
                        width: 1rem;
                        height: 1rem;
                        background-size: 1rem;
                      }
                    }
                  }

                  .accordion-collapse {
                    .accordion-body {
                      // START:: DROPDOWN MENU ITEM STYLES
                      .dropdown_menu_item_accordion {
                        .accordion-header {
                          .dropdown_menu_item_item_button {
                            color: $darkGrey;
                            @include transitioning(0.3s);

                            &:hover {
                              color: $secondaryColor;
                            }
                          }
                        }

                        .accordion-body {
                          @include verticalFlexStartAlignment;
                          a {
                            margin-bottom: 5px;
                            color: $lightGrey;
                            @include transitioning(0.3s);
                            
                            &:hover {
                              color: $secondaryColor;
                            }
                          }
                        }
                      }
                      // END:: DROPDOWN MENU ITEM STYLES
                    }
                  }
                }
              }
            }
          }
        }

        @media (max-width: 600px) {
          & + .navbar_menu {
            width: 100%;
          }
        }
        &.show {
          transform: scale(1);
          opacity: 1;
          & + .navbar_menu {
            left: 0;
            @include midShadow;
          }
        }
      }
    }
  }

  .upper_bar {
    padding-block: 4px;
    border-bottom: 1px solid $lighterGrey;
    .wraper {
      @include flexSpaceBetweenAlignment;
      .header_message_wraper {
        font-size: 0.9rem;
        font-family: $light_font;
        color: $darkGrey;
      }

      marquee {
        display: none
      }

      .action_btns_wraper {
        @include flexCenterAlignment;
        .actions {
          @include flexCenterAlignment;
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            position: relative;
            padding-inline: 8px;
            border-right: 1px solid $lighterGrey;
            img {
              width: 20px;
            }
            button,
            a {
              @include flexCenterAlignment;
              font-size: 14px;
              font-family: $light_font;
              color: $midGrey;
              text-decoration: none;
              &:focus {
                box-shadow: none;
              }

              svg {
                margin-inline-end: 5px;
                color: $lightGrey;
              }
            }

            .notifications_btn {
              position: relative;
              .notification_count {
                padding: 0;
                position: absolute;
                top: -8px;
                right: 0;
                background-color: $secondaryColor;
                width: 17px;
                height: 17px;
                font-size: 10px;
                @include borderRadius(50%);
                @include flexCenterAlignment;
              }
            }

            .notifications_menu_wrapper {
              padding: 8px;
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              background-color: $white;
              width: 200px;
              @include midShadow;
              @include borderRadius(6px);
              z-index: 9;

              ul {
                @include verticalFlexStartAlignment;
                padding-inline-start: 15px;
                li {
                  color: $midGrey;
                  font-size: 15px;
                  word-break: break-word;
                  padding-block: 10px;
                  border: none;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  &::marker {
                    content: "\f621";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    font-size: 12px;
                    color: $mainColor;
                  }
                }
              }
            }

            &.language_wraper {
              button {
                img {
                  width: 27px;
                }
              }
            }

            &:last-child {
              border-right: none;
            }
          }
        }

        .language_wraper {
          button {
            img {
              width: 27px;
            }
          }
        }
      }
    }
  }

  .main_bar {
    padding-block: 12px;
    .navBar_menu_btn_wraper {
      display: none;
    }

    .navbar_sticky_menu_wraper {
      & + .navbar_menu {
        display: none;
      }
    }

    .logo_wraper {
      width: 190px;
      height: 60px;
      img[alt="Site Logo"] {
        width: 190px;
        height: 60px;
      }
    }

    .search_bar {
      .group {
        @include flexCenterAlignment;
        flex-wrap: nowrap;
        border: 2px solid $mainColor;
        @include borderRadius(6px);
        input[type="text"] {
          border: none;
          color: $midGrey;
          &:focus {
            box-shadow: none;
          }
        }
        button {
          &:focus {
            box-shadow: none;
          }
          img {
            width: 25px;
          }
        }
      }
    }

    .action_btns_wraper {
      @include flexCenterAlignment;
      img {
        width: 25px;
      }
      ul {
        @include flexCenterAlignment;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          button,
          a {
            color: $midGrey;
            text-decoration: none;
            font-size: 12px;
            @include transitioning(0.3s);
            &:focus {
              box-shadow: none;
            }
            .text {
              text-align: start;
              span {
                display: block;
                &:last-child {
                  font-family: $bold_font;
                }
              }
            }

            &:hover {
              color: $mainColor;
            }
          }

          button {
            &.cart {
              position: relative;
              .badge {
                padding: 0;
                position: absolute;
                top: 0;
                right: 0;
                background-color: $secondaryColor;
                width: 20px;
                height: 20px;
                font-size: 10px;
                @include borderRadius(50%);
                @include flexCenterAlignment;
              }

              .text {
                margin-inline-end: 8px;
              }
            }
          }
          a{
            &.wishlist_btn{
              position: relative;
              .wishlist_counter {
                padding: 0;
                position: absolute;
                top: -15px;
                right: -8px;
                background-color: $secondaryColor;
                width: 20px;
                height: 20px;
                font-size: 10px;
                @include borderRadius(50%);
                @include flexCenterAlignment;
              }
            }
          }

          &:first-child {
            .text {
              margin-inline-start: 8px;
            }
          }

          &:nth-child(2) {
            padding-inline: 12px;
            margin-inline: 6px;
            border-left: 1px solid $lighterGrey;
            border-right: 1px solid $lighterGrey;
          }
        }
      }
    }
  }

  .cart_menu_wraper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 11;
    transform: scale(0);
    opacity: 0;
    transition-delay: 0.3s;
    & + .cart_menu {
      overflow: auto;
      padding: 25px 20px;
      position: fixed;
      top: 0;
      right: -100%;
      height: 100vh;
      width: 400px;
      background-color: $white;
      z-index: 11;
      @include transitioning(0.4s);
      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: $lighterGrey;
      }

      &::-webkit-scrollbar-thumb {
        background: $mainColor;
        border-radius: 0px;
        transition: 0.5s;
      }

      .menu_header {
        padding-bottom: 6px;
        @include flexSpaceBetweenAlignment;
        border-bottom: 1px solid $lighterGrey;
        h6,
        button {
          font-family: $medium_font;
        }

        button {
          color: $lightGrey;
          &:focus {
            box-shadow: none;
          }
        }
      }

      .cart_body {
        .item {
          .img_wraper {
            img {
              min-width: 80px;
              max-width: 80px;
              min-height: 90px;
              max-height: 90px;
            }
          }

          .title {
            @include flexSpaceBetweenAlignment;
            align-items: flex-start;
            h5 {
              padding-inline: 5px;
              font-size: 1.15rem;
              a {
                color: $midGrey;
                @include transitioning(0.3s);
                &:hover {
                  color: $mainColor;
                }
              }
            }
          }

          h5 {
            font-size: 1.15rem !important;
            span {
              &.price {
                margin-inline-start: 8px;
                font-family: $medium_font;
                color: $darkGrey;
              }
            }
          }
        }

        .subtotal_wraper {
          margin-block: 25px;
          padding-block: 15px;
          border-top: 1px solid $lighterGrey;
          border-bottom: 1px solid $lighterGrey;
          @include flexSpaceBetweenAlignment;
          h5 {
            margin: 0;
            &:first-child {
              color: $lightGrey;
            }
            &:last-child {
              color: $midGrey;
              font-family: $medium_font;
            }
          }
        }

        .wraper {
          margin-bottom: 20px;
          @include flexCenterAlignment;
          a {
            color: $midGrey;
            font-family: $bold_font;
            border-bottom: 2px solid $mainColor;
            @include transitioning(0.3s);
            &:hover {
              color: $mainColor;
            }
          }
        }

        a {
          &.checkout {
            @include flexCenterAlignment;
            color: $white;
            background-color: $midGrey;
            padding: 15px;
            @include borderRadius(6px);
            @include transitioning(0.3s);

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }

    @media (max-width: 600px) {
      & + .cart_menu {
        width: 100%;
      }
    }

    &.show {
      transform: scale(1);
      opacity: 1;
      & + .cart_menu {
        right: 0;
        @include midShadow;
      }
    }
  }

  .navbar_wraper {
    @include flexStartAlignment;

    ul {
      padding: 0;
      margin: 0;
      @include flexCenterAlignment;
      li {
        padding: 20px 0 25px 0;
        @include menuHoverEffect;
        overflow: visible;
        position: relative;

        &:hover {
          .dropdown_menu_wraper {
            transform: translateX(-50%) translateY(10px);
            opacity: 1;
            z-index: 10;
          }
        }

        .dropdown_menu_wraper {
          padding: 15px 25px;
          position: absolute;
          top: 80%;
          left: 50%;
          width: 200px;
          transform: translateX(-50%) translateY(40px);
          background-color: $white;
          @include midShadow;
          @include borderRadius(6px);
          @include transitioning(0.5s);
          transform-origin: top;
          z-index: -1;
          opacity: 0;
          &.mega_menu {
            width: 600px;
          }

          h6 {
            font-family: $semi_bold_font;
          }

          ul {
            padding: 0;
            @include verticalFlexStartAlignment;
            li {
              padding-block: 6px;
              margin: 0;
              a {
                font-family: $medium_font;
                color: $lightGrey;
                @include transitioning(0.3s);

                &:hover {
                  color: $secondaryColor;
                }
              }
            }
          }

          .img_wraper {
            position: relative;
            .overlay {
              background-color: rgba(0, 0, 0, 0.3);
              position: absolute;
              inset: 0;
              @include flexCenterAlignment;
              flex-direction: column;
              @include borderRadius(6px);

              h2 {
                font-family: $extra_bold_font;
                color: $white;
                &:first-child {
                  color: $mainColor;
                }
              }
            }

            img {
              min-width: 192px;
              max-width: 192px;
              min-height: 272px;
              max-height: 272px;
              @include borderRadius(6px);
            }
          }
        }
      }
    }
  }
}

// START:: HEADER RESPONSIVE STYLES
@media ( max-width: 767px ) {
  header {
    .navBar_menu_btn_wraper {
      display: block;
      .navBar_menu_btn {
        button {
          &:focus {
            box-shadow: none;
          }
          svg {
            color: $darkGrey;
            @include transitioning(0.4s);
            &:hover {
              color: $secondaryColor;
            }
          }
        }
      }
    }

    .navbar_sticky_menu_wraper {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 9;
      transform: scale(0);
      opacity: 0;
      transition-delay: 0.3s;
      display: block !important;
      & + .navbar_menu {
        display: block !important;
        overflow: auto;
        padding: 25px 20px;
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 350px;
        background-color: $white;
        z-index: 11;
        @include transitioning(0.4s);

        &::-webkit-scrollbar {
          width: 5px;
        }
      
        &::-webkit-scrollbar-track {
          background: $lighterGrey;
        }
      
        &::-webkit-scrollbar-thumb {
          background: $mainColor;
          border-radius: 0px;
          transition: 0.5s;
        }

        .menu_header {
          @include flexEndAlignment;
          margin-bottom: 25px;
          .close_btn {
            svg {
              color: $midGrey;
              @include transitioning(0.3s);
              &:hover {
                color: $midRed;
              }
            }

            &:focus {
              box-shadow: none;
            }
          }
        }

        .navbar_menu_list {
          padding: 0;
          margin: 0;
          li {
            padding-block: 15px;
            overflow: visible;
            position: relative;

            .dropdown_menu_accordion {
              .accordion-body {
                @include verticalFlexStartAlignment;
                a {
                  margin-bottom: 5px;
                  color: $lightGrey;
                  @include transitioning(0.3s);
                  &:hover {
                    color: $secondaryColor;
                  }
                }
              }

              &.mega_menu {
                .accordion-body {
                  display: block;
                }
              }
            }

            .side_navbar_menu_list_link,
            .dropdown_menu_accordion_btn {
              color: $darkGrey;
              font-size: 16px;
              font-family: $medium_font;
              @include transitioning(0.4s);
            }

            .side_navbar_menu_list_link {
              &.router-link-exact-active {
                color: $secondaryColor;
              }
            }
            &:hover {
              .side_navbar_menu_list_link, 
              .dropdown_menu_accordion_btn {
                color: $secondaryColor;
              }
            }

            .accordion {
              border: none;
              .accordion-item {
                border: none;
                .accordion-header {
                  border: none;
                  .accordion-button {
                    padding-inline: 0;
                    padding-block: 5px;
                    background-color: transparent;
                    &:focus {
                      box-shadow: none;
                      border: none;
                    }

                    &::after {
                      font-size: 12px;
                      filter: brightness(0);
                      width: 1rem;
                      height: 1rem;
                      background-size: 1rem;
                    }
                  }
                }

                .accordion-collapse {
                  .accordion-body {
                    // START:: DROPDOWN MENU ITEM STYLES
                    .dropdown_menu_item_accordion {
                      .accordion-header {
                        .dropdown_menu_item_item_button {
                          color: $darkGrey;
                          @include transitioning(0.3s);

                          &:hover {
                            color: $secondaryColor;
                          }
                        }
                      }

                      .accordion-body {
                        @include verticalFlexStartAlignment;
                        a {
                          margin-bottom: 5px;
                          color: $lightGrey;
                          @include transitioning(0.3s);
                          
                          &:hover {
                            color: $secondaryColor;
                          }
                        }
                      }
                    }
                    // END:: DROPDOWN MENU ITEM STYLES
                  }
                }
              }
            }
          }
        }
      }

      @media (max-width: 600px) {
        & + .navbar_menu {
          width: 100%;
        }
      }
      &.show {
        transform: scale(1);
        opacity: 1;
        & + .navbar_menu {
          left: 0;
          @include midShadow;
        }
      }
    }

    .main_bar {
      .navBar_menu_btn_wraper {
        display: block !important;
      }
    }

    .upper_bar {
      .wraper {
        flex-wrap: wrap;
        .header_message_wraper {
          display: none;
        }
  
        marquee {
          display: block;
          font-size: 0.9rem;
          font-family: $light_font;
          color: $darkGrey;
          width: 150px;
        }

        .action_btns_wraper {
          .actions {
            li {
              padding-inline: 3px;
              border: none;
            }
            .contact_list_item,
            .auth_link {
              display: none !important;
            }
          }
        }
      }
    }

    .main_bar {
      .search_bar_col,
      .contact_list_item,
      .cart_details_text {
        display: none;
      }

      .logo_wraper {
        // @include flexCenterAlignment;
        width: 120px;
        height: 50px;
        img[alt="Site Logo"] {
          width: 120px;
          height: 50px;
        }
      }

      .action_btns_wraper {
        ul {
          li {
            padding-inline: 0 !important;
            border: none !important;
          }
        }
      }
    }

    .cart_menu_wraper {
      & + .cart_menu {
        .cart_body {
          .item {
            .title,
            h5 {
              padding-inline-start: 10px;
            }
          }
        }
      }
    }

    .navbar_wraper {
      display: none;
    }
  }
}
// END:: HEADER RESPONSIVE STYLES

// START:: ANIMATIONS KEYFRAMES
@keyframes fixedAnimation {
  0% {
    position: fixed;
    top: -100%;
    right: 0;
    left: 0;
  }

  100% {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $white;
    @include midShadow;
    border-bottom: none;
  }
}
// END:: ANIMATIONS KEYFRAMES