.home {
  position: relative;
}

// START:: FEATURES STYLES
.features {
  padding-block: $sectionPadding*2;
  position: relative;
  .cards_wraper {
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    z-index: 10;
    @media ( max-width: 700px ) {
      top: -30%;
    }
    .slick-list {
      padding-inline: 15px !important;
    }
    .featured_card {
      width: auto !important;
      padding: 30px;
      margin-block: 20px;
      background-color: $white;
      @include flexCenterAlignment;
      @include borderRadius(6px);
      @include midShadow;
      .icon_wraper {
        text-align: center;
        margin-bottom: 15px;
        svg {
          color: $secondaryColor;
        }
      }
      .title,
      .text {
        text-align: center;
      } 
      .text {
        color: $lightGrey;
      }
    }
  }
}
// END:: FEATURES STYLES

// START:: CATEGORIES STYLES
.categories {
  padding-block: $sectionPadding;
  .header_wraper {
    @include mainHeaderStyle;
  }

  @import "categoryCard.scss";
}
// END:: CATEGORIES STYLES

// START:: BEST SELLERS STYLES
.best_sellers {
  padding-block: $sectionPadding;
  .header_wraper {
    @include mainHeaderStyle;
  }

  @import "../components/productCard.scss";
}
// END:: BEST SELLERS STYLES

// START:: FEATURED CATEGORIES STYLES
.featured_categories {
  padding-block: $sectionPadding * 1.5;
  .row {
    & > div {
      .featured_category_card_wrap {
        position: relative;
        width: 100%;
        min-height: 220px;
        max-height: 220px;
        overflow: hidden;
        @include borderRadius(6px);
        img {
          width: 100%;
          min-height: 220px;
          max-height: 220px;
          @include transitioning(0.4s);
        }

        .overlay {
          padding: 20px;
          position: absolute;
          inset: 0;
          color: $white;
          background-color: transparent;
          z-index: 5;
          @include verticalFlexStartAlignment;

          h2 {
            font-weight: 600;
          }

          p {
            font-size: 0.9rem;
            position: relative;
            padding-bottom: 20px;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              display: block;
              height: 4px;
              width: 50px;
              background-color: $white;
            }
          }

          a {
            font-size: 0.8rem;
            text-decoration: none;
            color: $white;
            position: relative;
            overflow: hidden;
            padding-bottom: 5px;
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              height: 2px;
              background-color: $white;
              transform: scale(0);
              @include transitioning(0.4s);
            }
            &:hover {
              &::after {
                transform-origin: center;
                transform: scale(1);
              }
            }
          }
        }

        &:hover {
          img {
            transform: scale(1.05);
          }
        }

        &.middle {
          .overlay {
            padding: 20px;
            position: absolute;
            inset: 0;
            color: $white;
            background-color: transparent;
            z-index: 5;
            @include flexSpaceAroundAlignment;
            flex-direction: row;

            .wraper {
              h2 {
                margin-top: 15px;
                font-size: 3rem;
                font-weight: 900;
                color: $secondaryColor;
              }

              p {
                font-size: 1rem;
                position: relative;
                margin-bottom: 6px;
                padding-bottom: 0;
                &::after {
                  display: none;
                }
              }
            }

            a {
              @include flexCenterAlignment;
              font-size: 0.8rem;
              text-decoration: none;
              color: $secondaryColor;
              border: 2px solid $secondaryColor;
              padding: 15px;
              @include transitioning(0.4s);
              &::after {
                display: none;
              }
              &:hover {
                color: $white;
                background-color: $secondaryColor;
              }
            }
          }

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            display: block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
              to right,
              rgba(225, 225, 225, 0.02),
              rgba(225, 225, 225, 0.2)
            );
            z-index: 5;
            @include transitioning(0.8s);
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -100%;
            display: block;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(
              to left,
              rgba(225, 225, 225, 0.02),
              rgba(225, 225, 225, 0.2)
            );
            z-index: 5;
            @include transitioning(0.8s);
          }

          &:hover {
            &::before {
              left: 100%;
              opacity: 0;
            }
            &::after {
              right: 100%;
              opacity: 0;
            }
          }
        }
      }

      &:last-of-type {
        .featured_category_card_wrap {
          .overlay {
            align-items: flex-end;
          }
        }
      }
    }
  }
}
// END:: FEATURED CATEGORIES STYLES

// START:: FEATURED PRODUCTS STYLES
.featured_products {
  padding-block: $sectionPadding;
  .header_wraper {
    @include mainHeaderStyle;
  }

  @import "../components/productCard.scss";
}
// END:: FEATURED PRODUCTS STYLES

// START:: ADVERTISING PANEL STYLES
.ads_panel {
  @import "advertisingPanel.scss";
}
// END:: ADVERTISING PANEL STYLES

// START:: PARTNERS STYLES
.partners {
  padding-block: $sectionPadding;
  .wraper {
    padding-block: 20px;
    border-top: 1px solid $lighterGrey;
    border-bottom: 1px solid $lighterGrey;
    .logo_wraper {
      width: 100%;
      @include flexCenterAlignment;
      img {
        width: 100%;
        height: auto;
        @include transitioning(0.4s);
        opacity: 0.7;
        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
}
// END:: PARTNERS STYLES