.home {
  position: relative;
}

// START:: CATEGORIES STYLES
.categories {
  padding-block: $sectionPadding;
  .header_wraper {
    @include mainHeaderStyle;
  }

  @import "categoryCard.scss";
}
// END:: CATEGORIES STYLES

// START:: BEST SELLERS STYLES
.best_sellers {
  padding-block: $sectionPadding;
  .header_wraper {
    @include mainHeaderStyle;
  }

  @import "../components/productCard.scss";
}
// END:: BEST SELLERS STYLES