.main_cart_wraper {
  padding-block: $sectionPadding;

  .empty_cart_message {
    @include flexCenterAlignment;
    flex-direction: column;
    color: $midGrey;
    h5 {
      font-family: $bold_font;
    }
  }

  .wraper {
    .cart_table {
      table {
        tbody {
          td {
            padding-block: 8px;
            .product {
              @include flexStartAlignment;
              height: 115px;
              img {
                min-width: 100px;
                max-width: 100px;
                min-height: 115px;
                max-height: 115px;
              }

              p {
                margin-bottom: 0;
                padding-inline-start: 10px;
                word-break: break-word;
              }
            }

            .price,
            .subtotal {
              font-family: $bold_font;
            }

            .quantity_btns {
              @include flexSpaceBetweenAlignment;
              border: 1px solid $lighterGrey;
              button {
                &:focus {
                  box-shadow: none;
                }
                &:nth-child(2) {
                  @include borderRadius(0);
                  padding-inline: 10px;
                  border-left: 1px solid $lighterGrey;
                  border-right: 1px solid $lighterGrey;
                }
              }
            }

            .remove_btn {
              &:focus {
                box-shadow: none;
              }
              svg {
                @include transitioning(0.3s);
                &:hover {
                  color: $midRed;
                }
              }
            }
          }
        }
      }
    }
  }
}