.main_cart_wraper {
  padding-block: $sectionPadding;

  @media ( max-width: 767px) {
    padding-block: 15px;
  }

  .empty_cart_message {
    @include flexCenterAlignment;
    flex-direction: column;
    color: $lightGrey;
    h5 {
      text-align: center;
      font-family: $bold_font;
    }
  }

  .wraper {
    .cart_table {
      table {
        display: table;
        tbody {
          td {
            padding-block: 8px;
            .product {
              @include flexStartAlignment;
              height: 115px;
              img {
                min-width: 100px;
                max-width: 100px;
                min-height: 115px;
                max-height: 115px;
              }

              p {
                margin-bottom: 0;
                padding-inline-start: 10px;
                word-break: break-word;
              }
            }

            .price,
            .subtotal {
              font-family: $bold_font;
            }

            .quantity_btns {
              @include flexSpaceBetweenAlignment;
              border: 1px solid $lighterGrey;
              button {
                &:focus {
                  box-shadow: none;
                }
                &:nth-child(2) {
                  @include borderRadius(0);
                  padding-inline: 10px;
                  border-left: 1px solid $lighterGrey;
                  border-right: 1px solid $lighterGrey;
                }
              }
            }

            .remove_btn {
              &:focus {
                box-shadow: none;
              }
              svg {
                @include transitioning(0.3s);
                &:hover {
                  color: $midRed;
                }
              }
            }
          }
        }
      }

      .cart_cards_wraper {
        display: none;
        padding: 10px;
        .cart_item_card {
          position: relative;
          padding: 10px;
          margin-block: 10px;
          border: 1px solid $lighterGrey;
          @include borderRadius(8px);
    
          .btn_wraper {
            text-align: end;
            button {
              &:focus {
                box-shadow: none;
              }
              svg {
                color: $lightGrey;
              }
            }
          }
    
          .item_img_wraper {
            @include flexCenterAlignment;
            img {
              width: 115px;
              height: 130px;
            }
          }
    
          .item_details_wraper {
            margin-block: 15px;
            h6 {
              margin-block: 10px;
              text-align: center;
              word-break: break-word;
              font-family: $medium_font;
            }

            .wraper {
              @include flexCenterAlignment;
              .quantity_btns {
                @include flexCenterAlignment;
                border: 1px solid $lighterGrey;
                @include borderRadius(6px);
                button {
                  &:focus {
                    box-shadow: none;
                  }
                  &:nth-child(2) {
                    @include borderRadius(0);
                    padding-inline: 10px;
                    border-left: 1px solid $lighterGrey;
                    border-right: 1px solid $lighterGrey;
                  }
                }
              }
            }
          }
    
          .action_btns_wraper {
            text-align: center;
            button {
              @include btnWithBackground;
            }
          }
        } 
      }

      @media ( max-width: 767px ) {
        table {
          display: none;
        }

        .cart_cards_wraper {
          display: block;
        }
      } 
    }

    .coupon_wraper {
      .checkout {
        width: max-content;
        @include flexCenterAlignment;
        color: $white;
        background-color: $midGrey;
        padding: 15px;
        @include borderRadius(6px);
        @include transitioning(0.3s);
        margin: 15px auto;
        &:hover {
          opacity: 0.9;
        }
      }
      h5 {
        padding-top: 20px;
        font-family: $bold_font;
      }

      form {
        margin-top: 20px;
        input[type="text"] {
          @include borderRadius(0);
          border: none;
          border-bottom: 1px solid $lighterGrey;
          @include transitioning(0.4s);
          &:focus {
            box-shadow: none;
            border-bottom: 1px solid $mainColor;
          }
        }
        button {
          @include btnWithBackground;
        }
      }
    }

    .cart_totals {
      padding: 10px 30px;
      border: 1px solid $lighterGrey;
      .cart_totals_header,
      .cart_subtotal,
      .shipping_fees,
      .cart_totals_footer {
        padding-block: 30px;
        border-bottom: 1px solid $lighterGrey;
        h6 {
          color: $midGrey;
          margin-bottom: 0;
          font-family: $bold_font;
        }
      }
      .cart_subtotal {
        @include flexSpaceBetweenAlignment;
        h6 {
          font-size: 0.9rem;
        }
      }
      .shipping_fees {
        .v-input__control {
          .v-text-field__details {
            min-height: 0 !important;
            display: none;
          }
          .v-select__slot {
            .v-select__selections {
              .theme--light {
                &.v-chip {
                  &:not(.v-chip--active) {
                    background-color: $secondaryColor;
                    color: $white;
                  }
                }
              }
            }
            
          }
        }
        .fees {
          @include flexSpaceBetweenAlignment;
          h6 {
            font-size: 0.9rem;
            font-family: $bold_font;
          }
        }
      }

      .cart_totals_footer {
        @include flexSpaceBetweenAlignment;
        border-bottom: none;
      }

      a {
        @include btnWithBackground;
        display: inline-block;
        margin-bottom: 15px;
      }

      @media ( max-width: 767px ) {
        @include borderRadius(6px);
      }
    }
  }
}

