body {
  &[dir="rtl"] {
    // START:: GLOBAL RTL STYLES
    * {
      font-family: $medium_ar_font !important;
    }
    // END:: GLOBAL RTL STYLES

    // START:: HEADER RTL STYLES
    header {
      &.sticky {
        .main_bar {
          .navbar_sticky_menu_wraper {
            right: auto;
            left: 0;
            & + .navbar_menu {
              left: auto;
              right: -100%;
              @include transitioning(0.4s);
            }
            &.show {
              & + .navbar_menu {
                left: auto;
                right: 0;
              }
            }
          }
        }
      }

      .main_bar {
        .action_btns_wraper {
          ul {
            li {
              button {
                &.cart {
                  position: relative;
                  .badge {
                    right: auto;
                    left: 27px;
                  }
                }
              }

              &:first-child {
                a {
                  .text {
                    margin-inline-start: 8px;
                  }
                }
              }

              &:last-child {
                button {
                  .text {
                    margin-inline-end: 8px;
                  }
                }
              }
            }
          }
        }
      }

      .cart_menu_wraper {
        right: auto;
        left: 0;
        & + .cart_menu {
          right: auto;
          left: -100%;

          .cart_body {
            .title {
              & + h5 {
                direction: ltr;
              }
            }
          }
        }
    
        &.show {
          & + .cart_menu {
            right: auto;
            left: 0;
          }
        }
      }
    }
    // END:: HEADER RTL STYLES

    // START:: PRODUCT CARD RTL STYLES
    .product_card_wraper {
      direction: rtl;
      .product_image_wraper {
        .badges_wraper {
          left: auto;
          right: 20px;
        }
      }

      .product_card_body {
        text-align: start;

        .product_price {
          .previous_price {
            margin-inline-start: 0; 
            margin-inline-end: 8px; 
          }
        }

        .rating {
          @include flexStartAlignment;
          .rating {
            direction: ltr;
          }
        }
      }
    }
    // END:: PRODUCT CARD RTL STYLES

    // START:: PRODUCT MODAL RTL STYLE
    .modal {
      .modal-dialog {
        .modal-content {
          .modal-body {
            // START:: PRODUCT DETAILS MODAL
            .product_details_modal {
              .imgs_carousel {
                direction: ltr;
                .slick-slider {
                  button {
                    &.slick-arrow {
                      &.slick-prev {
                        left: auto;
                        right: 5%;
                      }
                      &.slick-next {
                        right: auto;
                        left: 8%;
                      }
                    }
                  }
                }
              }
            } 
            // END:: PRODUCT DETAILS MODAL
          }
        }
      }
  
    } 
    // END:: PRODUCT MODAL RTL STYLE

    // START:: PRODUCT MAIN DETAILS TL STYLES
    .product_main_details {
      padding-block: $sectionPadding;
    
      .slick-slider {
        button {
          &.slick-arrow {
            &.slick-prev {
              left: auto;
              right: 5%;
            }
            &.slick-next {
              right: auto;
              left: 8%;
            }
          }
        }
      }
    
      .product_details {
        .product_price {
          .current_price {
            margin-inline-start: 10px;
          }
        }
      }
    }
    // END:: PRODUCT MAIN DETAILS TL STYLES

    // START:: FEATURED CATEGORIES RTL STYLES
    .featured_categories {
      .row {
        & > div {
          .featured_category_card_wrap {
            .overlay {        
              p {
                &::after {
                  left: auto;
                  right: 0;
                }
              }

              a {
                span {
                  &:last-child {
                    svg {
                      transform: rotate(180deg);
                      margin-inline-start: 5px;
                    }
                  }
                }
              }
            }
          }
    
          &:first-of-type {
            .featured_category_card_wrap {
              .overlay {
                align-items: flex-end;
              }
            }
          }
          &:last-of-type {
            .featured_category_card_wrap {
              .overlay {
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
    // END:: FEATURED CATEGORIES RTL STYLES

    // START:: ALL CATEGORIES PAGE RTL STYLES 
    .hideFilter {
      transform: translateX(500px);
    }

    .pagination {
      .right-part {
        ul {
          li{
            a{
              svg {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    // END:: ALL CATEGORIES PAGE RTL STYLES 
  }
}