.wishlist_wraper {
  padding-block: $sectionPadding;

  .empty_wishlist_message {
    color: $lightGrey;
  }

  table {
    display: table;
    tbody {
      tr {
        td {
          padding-block: 8px !important;
          button {
            &:focus {
              box-shadow: none;
            }
          }

          .product {
            @include flexStartAlignment;
            height: 115px;
            img {
              min-width: 100px;
              max-width: 100px;
              min-height: 115px;
              max-height: 115px;
            }
  
            p {
              margin-bottom: 0;
              padding-inline-start: 10px;
              word-break: break-word;
            }
          }

          .price {
            font-family: $bold_font;
          }

          .action {
            button {
              @include btnWithBackground;
            }
          }
        }
      }
    }
  }

  .wishlist_cards_wraper {
    display: none;
    padding: 10px;
    .wishlist_item_card {
      position: relative;
      padding: 10px;
      margin-block: 10px;
      border: 1px solid $lighterGrey;
      @include borderRadius(8px);

      .btn_wraper {
        text-align: end;
        button {
          &:focus {
            box-shadow: none;
          }
          svg {
            color: $lightGrey;
          }
        }
      }

      .item_img_wraper {
        @include flexCenterAlignment;
        img {
          width: 115px;
          height: 130px;
        }
      }

      .item_details_wraper {
        margin-block: 15px;
        h6 {
          text-align: center;
          word-break: break-word;
          font-family: $medium_font;
        }
      }

      .action_btns_wraper {
        text-align: center;
        button {
          @include btnWithBackground;
        }
      }
    } 
  }

  .social_sharing_wraper {
    margin-top: 20px;
    @include flexStartAlignment;
    span {
      font-family: $semi_bold_font;
      margin-inline-end: 10px;
    }

    a {
      margin-inline: 15px;
      font-size: 19px;
      svg {
        &.fa-facebook-f {
          color: $facebookColor;
        }
        &.fa-twitter {
          color: $twitterColor;
        }
        &.fa-whatsapp {
          color: $whatsAppColor;
        }
        &.fa-telegram-plane {
          color: $telegramColor;
        }
      }
    }
  }

  @media ( max-width: 767px ) {
    padding-block: 10px;

    table {
      display: none;
    }

    .wishlist_cards_wraper  {
      display: block;
    }
  }
}