// START:: EN FONT
@font-face {
  font-family: $extra_light_font;
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: $light_font;
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: $light_italic_font;
  src: url("../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: $medium_font;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: $regular_font;
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: $italic_font;
  src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: $bold_font;
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: $semi_bold_font;
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: $semi_bold_italic_font;
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: $extra_bold_font;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
// END:: EN FONT

// START:: AR FONT
@font-face {
  font-family: $light_ar_font;
  src: url("../fonts/ar/Tajawal-Light.ttf");
}

@font-face {
  font-family: $regular_ar_font;
  src: url("../fonts/ar/Tajawal-Regular.ttf");
}

@font-face {
  font-family: $medium_ar_font;
  src: url("../fonts/ar/Tajawal-Medium.ttf");
}
// END:: AR FONT