$mainColor: #035397;
$secondaryColor: #FFAA4C;

$midGreen: #50CB93;
$deepBlue: #00303f;
$lightBlue: #1044b9;
$lightCoffee: #d0af85;
$deepRed: #810000;
$midRed: #bb0808;
$lightRed: #dc4040;
$lightOrange: #ff7c00;
$lighterGrey: #e1e1e1;
$lightGrey: #8d8d8d;
$midGrey: #313131;
$darkGrey: #212121;
$white: #fff;
$facebookColor: #4267B2;
$twitterColor: #1DA1F2;
$whatsAppColor: #25D366;
$telegramColor: #0088cc;
$linkedinColor: #2867b2;
$youtubeColor: #ff0000;

$sectionPadding: 50px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;

$extra_light_font: "Montserrat-ExtraLight";
$light_font: "Montserrat-Light";
$light_italic_font: "Montserrat-LightItalic";
$regular_font: "Montserrat-Regular";
$italic_font: "Montserrat-Italic";
$medium_font: "Montserrat-Medium";
$bold_font: "Montserrat-Bold";
$semi_bold_font: "Montserrat-SemiBold";
$semi_bold_italic_font: "Montserrat-SemiBoldItalic";
$extra_bold_font: "Montserrat-ExtraBold";

$light_ar_font: "Tajawal-Light";
$regular_ar_font: "Tajawal-Regular";
$medium_ar_font: "Tajawal-Medium";