$mainColor: #4AA96C;
$secondaryColor: #19456B;

$deepBlue: #00303f;
$lightBlue: #1044b9;
$lightCoffee: #d0af85;
$deepRed: #810000;
$midRed: #bb0808;
$lightRed: #dc4040;
$lightOrange: #ff7c00;
$lighterGrey: #c1c1c1;
$lightGrey: #666;
$darkGrey: #212121;
$white: #fff;

$paddingAmount: 40px;
$borderRadiusAmount: 10px;
$midBorderRadiusAmount: 20px;
$largeBorderRadiusAmount: 30px;

$extra_light_font: "Montserrat-ExtraLight";
$light_font: "Montserrat-Light";
$light_italic_font: "Montserrat-LightItalic";
$regular_font: "Montserrat-Regular";
$italic_font: "Montserrat-Italic";
$medium_font: "Montserrat-Medium";
$bold_font: "Montserrat-Bold";
$semi_bold_font: "Montserrat-SemiBold";
$semi_bold_italic_font: "Montserrat-SemiBoldItalic";
$extra_bold_font: "Montserrat-ExtraBold";