// ==== VARIABLES
@import "varibles/variables.scss";

// ==== MIXINS
@import "mixins/mixins.scss";

// ==== FONTS
@import "fonts/fonts.scss";

// ==== LOADER
@import "components/loader";

// ==== ANIMATION
@import "components/animation.scss";

// ==== HEADER
@import "components/header.scss";

// ==== BREADCRUMB
@import "components/breadcrumb";

// ==== HOME STYLES
@import "components/home.scss";

// ==== SLIDER STYLES
@import "components/slider.scss";

// ==== MAIN CART STYLES
@import "components/mainCart.scss";

// ==== WISHLIST
@import "components/wishlist.scss";

// ==== PRODUCT CARD STYLES
@import "components/productCard.scss";

// ==== PRODUCT DETAILS STYLES
@import "components/productMainDetails.scss";

// ==== FILTER STYLES
@import "components/filterStyle.scss";

// ==== PROFILE STYLES
@import "components/profile.scss";

// ==== FOOTER STYLES
@import "components/footer.scss";

// ==== AUTH
@import "components/_auth";

// ==== AUTH
@import "components/staticPages";

// ==== Loaders
@import "components/Loaders.scss";

// ==== CheckOut
@import "components/checkout.scss";

// ==== Global Style
* {
  @include boxSizing;
  font-family: $regular_font;
  outline: none;
}

html {
  overflow-y: auto !important;
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $lighterGrey;
  }

  &::-webkit-scrollbar-thumb {
    background: $mainColor;
    border-radius: 0px;
    transition: 0.5s;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $darkGrey;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.All-Content{
  padding-block: $sectionPadding;
}
.slick-dots {
  li {
    button {
      &::before {
        font-size: 12px !important;
        @include transitioning(0.3s);
        color: $mainColor !important;
      }
    }
    &.slick-active {
      button {
        &::before {
          color: $mainColor !important;
          font-size: 12px !important;
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        position: relative;
        .close_btn {
          background-color: transparent;
          border: none;
          position: absolute;
          top: -35px;
          right: -45px;
          color: $white;
          @include transitioning(0.4s);
          &:hover {
            color: $midRed;
            transform: rotate(180deg) scale(1.3);
          }
          &:focus {
            box-shadow: none;
          }
        }

        // START:: PRODUCT DETAILS MODAL
        .product_details_modal {
          .imgs_carousel {
            .slick-slider {
              position: relative;
              &:hover {
                button {
                  opacity: 1;
                }
              }
              button {
                z-index: 3;
                opacity: 0;
                @include transitioning(0.4s);
                &.slick-arrow {
                  &.slick-prev, 
                  &.slick-next {
                    &::before {
                      font-size: 35px;
                      color: $mainColor;
                    }
                  }

                  &.slick-prev {
                    position: absolute;
                    left: 5%;
                  }
                  &.slick-next {
                    position: absolute;
                    right: 8%;
                  }
                }
              }
            }
            .img_wraper {
              img {
                width: 100%;
                height: 100%;
              }
            }
          }

          .product_details {
            padding: 20px;
            overflow-x: auto;
            &::-webkit-scrollbar {
              width: 5px;
            }
          
            &::-webkit-scrollbar-track {
              background: $lighterGrey;
            }
          
            &::-webkit-scrollbar-thumb {
              background: $mainColor;
              border-radius: 0px;
              transition: 0.5s;
            }

            .product_name {
              font-family: $bold_font;
              margin-bottom: 5px;
            }

            .product_category {
              font-size: 0.9rem;
              color: $lightGrey;
              span {
                &:first-child {
                  margin-inline-end: 5px;
                }
              }
            }

            .product_price {
              margin-block: 15px;
              .current_price {
                color: $mainColor;
                margin-inline-end: 10px;
                font-weight: bolder;
              }

              .previous_price {
                color: $midRed;
                text-decoration: line-through;
                font-size: 1.4rem;
              }
            }

            .product_rate {
              @include flexStartAlignment;
              .reviews {
                color: $lightGrey;
                font-size: 0.8rem;
                margin-inline-start: 8px;
              }
            }

            .product_description {
              @include textWraper;
              font-size: 16px;
            }

            .product_options {
              .wraper {
                @include flexStartAlignment;
                & > label {
                  width: 15%;
                  padding-inline-end: 10px;
                }
                select {
                  padding: 0.6em 2.25rem 0.6em 0.75rem;
                  outline: none !important;
                  box-shadow: none !important;
                  border: 1px solid $lighterGrey;
                  width: 200px;
                  &:focus{
                    box-shadow: none;
                  }
                }
              }
            }

            .add_product_to_cart {
              padding-block: 15px;
              border-top: 1px solid $lighterGrey;
              border-bottom: 1px solid $lighterGrey;
              margin-top: 15px;
              @include flexStartAlignment;
              .quantity_btns {
                @include flexSpaceBetweenAlignment;
                margin-inline-end: 15px;
                border: 1px solid $lighterGrey;
                button {
                  &:focus {
                    box-shadow: none;
                  }
                  &:nth-child(2) {
                    @include borderRadius(0);
                    padding-inline: 10px;
                    border-left: 1px solid $lighterGrey;
                    border-right: 1px solid $lighterGrey;
                  }
                }
              }
              .add_to_cat,
              .add_to_wishlist {
                @include btnWithBackground;
                padding: 0.5em 1em;
              }
        
              .add_to_wishlist {
                background-color: $secondaryColor;
                border: 1px solid $secondaryColor;
                &:hover{
                  background-color: $white;
                  color: $secondaryColor;
                }
              }
            }
          }
        } 
        // END:: PRODUCT DETAILS MODAL
      }
    }
  }

  @media ( max-width: 767px ) {
    .modal-dialog {
      .modal-content {
        .modal-body {
          .close_btn {
            top: -20px;
            right: -5px;
            color: $midRed;
            z-index: 5;
            &:hover {
              transform: rotate(180deg) scale(1.1);
            }
          }

          .product_details_modal {
            .product_details {
              padding: 15px 0;

              .product_name {
                font-size: 1.3rem;
              }

              .product_price {
                font-size: 1rem;
                .previous_price {
                  font-size: 0.9rem;
                }
              }

              .product_options {
                .wraper {
                  flex-wrap: wrap;
                  & > label {
                    width: 100%;
                    // padding-inline-end: 10px;
                  }
                  select {
                    width: 100%;
                  }
                }
              }

              .add_product_to_cart {
                @include flexCenterAlignment;
                flex-wrap: wrap;

                .quantity_btns {
                  margin-inline-end: 0;
                }

                .add_to_cat,
                .add_to_wishlist  {
                  padding: 0.4em;
                  span {
                    &:last-child {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
} 

.resluts-conteiner{
  padding-block: $sectionPadding;
}

// .main_content_wraper {
//   min-height: calc(100vh - (202px + 238px));
// }
