// ==== VARIABLES
@import "varibles/_variables.scss";

// ==== MIXINS
@import "mixins/_mixins.scss";

// ==== FONTS
@import "fonts/_fonts.scss";

// ==== LOADER
@import "components/_loader";

// ==== ANIMATION
@import "components/_animation.scss";

// ==== HEADER
@import "components/_header.scss";

// ==== HOME STYLES
@import "components/_home.scss";

// ==== SLIDER STYLES
@import "components/slider.scss";

// ==== FOOTER STYLES
@import "components/_footer";

// ==== Global Style
* {
  @include boxSizing;
  font-family: $regular_font;
  outline: none;
}

html {
  overflow-y: auto !important;
}

body {
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $lighterGrey;
  }

  &::-webkit-scrollbar-thumb {
    background: $mainColor;
    border-radius: 0px;
    transition: 0.5s;
  }
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $darkGrey;
  transition: all 0.5s ease-in-out !important;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots {
  li {
    button {
      &::before {
        font-size: 12px !important;
        @include transitioning(0.3s);
        color: $mainColor !important;
      }
    }
    &.slick-active {
      button {
        &::before {
          color: $mainColor !important;
          font-size: 12px !important;
        }
      }
    }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        h1 {
          color: red;
        }
      }
    }
  }
}

// .main_content_wraper {
//   min-height: calc(100vh - (202px + 238px));
// }
